
/*---------------------------------*/

/* Main */

Main {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1em; 
}

/*Elementos*/

article.elementos {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em; 
}

section {
    display: grid;
    justify-items: center; 
    align-items: center;   
    padding: 1em;
    border: solid 0.1em #004d40; 
    box-shadow: 0.1em 0.1em 1em lightgray;
    border-radius: 2em;
    background-color: #fff; 
    box-shadow: 0.1em 0.1em 0.5em #004d40;
}

section h1
{
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

/*Imagenes*/

section img {
    justify-self: center;  
}

img.lista
{
    width: 7em;
    display: grid;
    border-radius: 2em;
}

img.supermercado
{
    width: 10em;
    height: 7em;
    display: grid;
    border-radius: 2em;
}


/*--------------------------*/

/*MEDIA QUERY 576PX - 911PX*/

@media (min-width: 576px) and (orientation: portrait) {

  
    /* Elementos del Main */
    article.elementos {
        grid-template-columns: repeat(3, 1fr); 
    }

    /* Footer div preguntas */
    div.preguntas {
        grid-template-columns: repeat(2, 1fr) ;
    }
}

/*--------------------------*/

/*MEDIA QUERY 912PX*/

@media (min-width: 912px) , (min-width:576) and (orientation: landscape) {

    *{
        font-size: 1em;
    }

    /*div.div-header*/
    .div-header
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*div.contenido*/
    .contenido {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr 2fr; /* Primera columna más pequeña (aside), segunda más grande (main) */
        gap: 1em;
    }

    /* El nav ocupa las dos columnas */
    nav {
        grid-column: 1 / span 2; 
    }

    .lista-nav{
        display: flex;
        justify-content: space-between;
        padding : 0;
    }

    /* El aside en la primera columna */
    aside {
        grid-column: 1; /* Ocupa solo la primera columna */
    }

    /* El main en la segunda columna (más grande) */
    main {
        grid-column: 2; /* Ocupa la segunda columna, más grande */
    }

    /* Elementos del Main */
    article.elementos {
        grid-template-columns: repeat(4, 1fr); 
    }

    /* Footer div preguntas */
    div.preguntas {
        grid-template-columns: repeat(3, 1fr) ;
    }

}

/*--------------------------*/

/*MEDIA QUERY 1023PX*/
@media (min-width: 1024px) {
    *{
        font-size: 1em;
    }

    p.nombre
    {
        font-size: 3em;
    }
  
    .contenido {
        grid-template-columns: 1fr 2fr; 
        margin-top: 1em; 
    }

   
    nav {
        grid-column: 1;
        grid-row: 1;
        border-radius: 2em;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 100%; 
    }

    nav ul {
        padding: 0;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

    ul.lista-nav li {
        margin: 0;
        font-size: 1.2em;
        padding: 1em;
        text-align: center; 
    }

    /* El aside debajo del nav en la columna izquierda */
    aside {
        font-size: 1.3em;
        grid-column: 1;
        grid-row: 2;
    }

    /* El main en la columna derecha, ocupando toda la altura */
    main {
        grid-column: 2;
        grid-row: 1 / span 2; /* El main ocupa ambas filas en la columna derecha */
    }
    
    /* Elementos del Main */
    article.elementos {
        grid-template-columns: repeat(4, 1fr); 
    }

    /* Footer div preguntas */
    div.preguntas {
        grid-template-columns: repeat(3, 1fr) ;
        font-size: 1.2em;
    }

}