
/*MODO DIURNO*/

.colores  {color : #204265,  #ffffff, #40770c, #aaff7f}

.modo-diurno
{
    --letra-general: #ffffff;
    --letra-nav: #204265;    
    --letra-aside: #204265;       
    --letra-nombre: #ffffff;    
    --letra-footer: #ffffff;    
    --letra-slogan: #ffffff;   
    --letra-boton-seccion:#ffffff;         
    --letra-section: #204265; 
    --estrellas: #40770c;
    --a:#40770c;
    --precio:#40770c;
    --botones-section: #40770c ;
    --sombras-general: #40770c;
    --sombra-precio :  #aaff7f ;   
    --borde-botones-section:#aaff7f; 
    --borde-nav: #40770c;
    --borde-aside: #40770c;   
    --bordes: #40770c;          
    --body: #ffffff;      
    --section: #ffffff;            
    --header: #204265;          
    --nav: #ffffff;             
    --aside: #ffffff;           
    --footer: #204265;          
 
} 

.modo-nocturno
{
    --letra-general: #ffffff;
    --letra-nav: #ffffff;    
    --letra-aside: #ffffff;       
    --letra-nombre: #ffffff;    
    --letra-footer: #ffffff;    
    --letra-slogan: #ffffff;    
    --letra-boton-seccion:#204265;      
    --letra-section: #ffffff; 
    --estrellas: #aaff7f;
    --a:#aaff7f;
    --precio:#aaff7f;
    --botones-section: #aaff7f ;
    --sombras-general: #ffffff;
    --sombra-precio :  #aaff7f ;   
    --borde-botones-section:#40770c;   
    --borde-nav: #ffffff;
    --borde-aside: #ffffff; 
    --bordes: #ffffff;          
    --body: #204265;            
    --header: #204265;     
    --section: #204265;          
    --nav: #204265;             
    --aside: #204265;           
    --footer: #204265;  
}

/*MODO DIURNO DE ALTO CONTRASTE*/
.colores {color : #01172e,  #ffffff, #40770c}

.modo-diurno-altoContraste
{
    --letra-general: #01172e;
    --letra-nav: #01172e;    
    --letra-aside: #01172e;       
    --letra-nombre: #01172e;    
    --letra-footer: #01172e;    
    --letra-slogan: #01172e;    
    --letra-boton-seccion:#ffffff;      
    --letra-section: #01172e; 
    --estrellas: #40770c;
    --a:#40770c;
    --precio:#40770c;
    --botones-section: #40770c ; 
    --borde-botones-section:#40770c;    
    --borde-nav: #40770c;
    --borde-aside: #40770c;
    --bordes: #40770c;          
    --body: #ffffff;            
    --header: #ffffff;     
    --section: #ffffff;          
    --nav: #ffffff;             
    --aside: #ffffff;           
    --footer: #ffffff; 
}


/*MODO NOCTURNO DE ALTO CONTRASTE*/

.colores  {color : #01172e,  #ffffff, #aaff7f}

.modo-nocturno-altoContraste
{
    --letra-general: #ffffff;
    --letra-nav: #ffffff;    
    --letra-aside: #ffffff;       
    --letra-nombre: #ffffff;    
    --letra-footer: #ffffff;    
    --letra-slogan: #ffffff;    
    --letra-boton-seccion:#01172e;      
    --letra-section: #ffffff; 
    --estrellas: #aaff7f;
    --a:#aaff7f;
    --precio:#aaff7f;
    --botones-section: #aaff7f ;  
    --borde-nav: #aaff7f;
    --borde-aside: #aaff7f;
    --borde-botones-section:#aaff7f;    
    --bordes: #aaff7f;          
    --body: #01172e;            
    --header: #01172e;     
    --section: #01172e;          
    --nav: #01172e;             
    --aside: #01172e;           
    --footer: #01172e; 
}

/*Navegador*/

@media (prefers-color-scheme: dark ) {
    .modo-diurno{
        --letra-general: #ffffff;
        --letra-nav: #ffffff;    
        --letra-aside: #ffffff;       
        --letra-nombre: #ffffff;    
        --letra-footer: #ffffff;    
        --letra-slogan: #ffffff;    
        --letra-boton-seccion:#204265;      
        --letra-section: #ffffff; 
        --estrellas: #aaff7f;
        --a:#aaff7f;
        --precio:#aaff7f;
        --botones-section: #aaff7f ;
        --sombras-general: #ffffff;
        --sombra-precio :  #aaff7f ;   
        --borde-botones-section:#ffffff;    
        --bordes: #ffffff;          
        --body: #204265;            
        --header: #204265;     
        --section: #204265;          
        --nav: #204265;             
        --aside: #204265;           
        --footer: #204265; 
    }
}


/* Enlazar una fuente externa desde Google Fonts (API) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Incluir una fuente auto-hospedada */
@font-face {
    font-family: 'Fuente1';
    src: url('fonts/Raleway/Raleway-Black.ttf') format('truetype');
}


*{
    margin:0;
    padding:0;
    font-size: 12pt;
    box-sizing: border-box;
}

/*General*/
body
{
    font-family: 'Montserrat', 'Fuente1', sans-serif; /*Por último añado la de por defecto*/
    background-color: var(--body); 
}


button
{
    cursor: pointer;
}


/*---------------------------------*/

/*Header*/

header 
{
    background: linear-gradient(var(--header), var(--footer))  ; 
    color: white; 
    padding: 1em; 
} 

.div-header
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

p.nombre
{
    text-transform: uppercase;
    font-size: 2em; /*corrección del ejercicio anterior, cambié el h1 por p*/
    margin: 0.5em;
    color: var(--letra-nombre)
}

input.buscador
{
    border-radius: 2em/3em;
    margin-right: 1em;
    width: 20em;
    height: 2em;
}

p.slogan
{
    font-style: italic;
    color:var(--letra-slogan);
}

div.enlaces-perfilusuario img
{
    border-radius: 14em/12em;
    margin: 0.5em 0.5em 0.5em 0;
    height: 1.5em;
}

div.botones-header button{
    border-radius: 2em;
    padding : 0.3em;
}

/*Imagenes*/

img.logo
{
    border: solid 0.1em var(--bordes);
    box-shadow: 0.1em 0.1em 1em var(--sombra-precio);
    border-radius: 10em/8em;
    height: 3em;
}

/*-------------------------*/

/*Contenedor nav-aside*/
/*Nav*/

div.contenido
{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1em; 
}

nav
{
    box-shadow: 0.1em 0.1em 1em var(--sombras-general); 
    background: var(--nav);
    border: solid 0.1em var(--borde-nav);
    text-transform: uppercase;
    color: var(--letra-nav);
    font-weight: bold;
    padding: 0.5em;
    margin: 1em 0.5em 1em 0;
}

ul.lista-nav
{
    list-style: none;
    margin:0; 
}

ul.lista-nav li
{
    font-size: 1.1em;
    margin-left: 1em;
} 

/* Aside */

aside.barra-lateral {
    margin: 1em 0.5em 1em 0;
    padding: 2em; 
    box-shadow: 0.1em 0.1em 1em var(--sombras-general); 
    border-radius: 2em; 
    border: solid 0.1em var(--borde-aside);
    background: var(--aside) ;
}

aside.barra-lateral p {
    font-size: 1.5em; 
    margin-bottom: 1em; 
    color:  var(--letra-aside); 
}

aside.barra-lateral ul {
    list-style: none;
}

aside.barra-lateral li {
    margin-bottom: 0.5em; 
}

aside.barra-lateral a {
    text-decoration: none;
    color: var(--letra-aside); 
}

aside.barra-lateral a:hover {
    color: var(--letra-aside); 
}

/*---------------------------------*/

/* Main */

Main {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1em; 
}

/*Elementos*/

article.elementos {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 1em; 
}

section {
    display: grid;
    justify-items: center; 
    align-items: center;   
    padding: 1em;
    color: var(--letra-section);
    border: solid 0.1em var(--bordes); 
    box-shadow: 0.1em 0.1em 1em var(--sombras-general);
    border-radius: 2em;
    background: var(--section); 
    box-shadow: 0.1em 0.1em 0.5em var(--sombras-general);
}

/*Flexbox  para colocar los elementos dentro de la sección*/

.producto {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
}

.producto h1
{
    margin: 3em 0 2em 0;
}

.estrellas {
    align-self: flex-start;
    font-size: 1.5em;
    color: var(--estrellas);
}

.estrellas-favoritos {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding: 0 1em; 
}

.descripcion {
    position: relative;
    text-align: justify;
    margin-top: 2em;
}

#contenidoCompleto{
    display: none;
}

#leerMas, #leerMenos {
    cursor: pointer;
    text-decoration: underline;
}

#leerMenos
{
    display: none
}

a{
    color: var(--a);
}

.precio {
    box-shadow: 0.1em 0.1em 1em var(--sombra-precio);
    border-radius: 2em;
    color: var(--precio);
    padding: 0.2em 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 1em ;
}

p.tipo {
    align-self: flex-start;
    padding: 0.5em;
    border: solid 0.1em var(--bordes);
    border-radius: 2em;
}

.botones-section{
    align-self: flex-end;
    margin-top: 1.5em;
}

.botones-section button {
    background-color: var(--botones-section);
    color: var(--letra-boton-seccion);
    padding : 0.3em;
    border: outset var(--borde-botones-section);
    transition: all 0.2s ease;
}

.botones-section button:active {
    border: inset var(--bordes);
}

section h1
{
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}


/*Imagenes*/

img.producto
{
    padding: 0;
    justify-self: center; 
    width: 20em;
    display: grid;
    border-radius: 6em;
}

img.favoritos
{
    align-self: flex-start;
    border: solid 0.1em var(--bordes);
    border-radius: 8em;
    height: 2.5em;
}

img.favoritos:hover
{
    box-shadow: var(--sombra-precio);
}

/*------------------------------------*/

/*Footer*/
footer{
    background: var(--footer);
    color: var(--letra-footer) ;   
    margin: 1em 0;        
    padding: 1em 0;         
}

p.titulofooter {
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: underline;
    margin-bottom: 1em;
}

div.preguntas {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
}

div.preguntas ul {           
    list-style: none; 
}

div.preguntas li {
    margin-bottom: 0.5em;
}

div.preguntas a {
    text-decoration: none;
    font-size: 0.8em;
    color:var(--asideYLetra);
}

/*--------------------------*/

/*MEDIA QUERY 576PX - 911PX*/

@media (min-width: 576px) and (orientation: portrait) {

  
    /* Elementos del Main */
    article.elementos {
        grid-template-columns: repeat(1, 1fr); 
    }

    /* Footer div preguntas */
    div.preguntas {
        grid-template-columns: repeat(2, 1fr) ;
    }
}

/*--------------------------*/

/*MEDIA QUERY 912PX*/

@media (min-width: 912px) , (min-width:576) and (orientation: landscape) {

    *{
        font-size: 1em;
    }

    /*div.div-header*/
    .div-header
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*div.contenido*/
    .contenido {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr 2fr; /* Primera columna más pequeña (aside), segunda más grande (main) */
        gap: 1em;
    }

    /* El nav ocupa las dos columnas */
    nav {
        grid-column: 1 / span 2; 
    }

    /* El aside en la primera columna */
    aside {
        grid-column: 1; /* Ocupa solo la primera columna */
    }

    /* El main en la segunda columna (más grande) */
    main {
        grid-column: 2; /* Ocupa la segunda columna, más grande */
    }

    /* Elementos del Main */
    article.elementos {
        grid-template-columns: repeat(1, 1fr); 
    }

    /* Footer div preguntas */
    div.preguntas {
        grid-template-columns: repeat(3, 1fr) ;
    }

}

/*--------------------------*/

/*MEDIA QUERY 1023PX*/
@media (min-width: 1024px) {

    *{
        font-size: 1em;
    }

    p.nombre
    {
        font-size: 3em;
    }
  
    .contenido {
        grid-template-columns: 1fr 2fr; 
        margin-top: 1em; 
    }

   
    nav {
        grid-column: 1;
        grid-row: 1;
        border-radius: 2em;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 100%; 
    }

    nav ul {
        padding: 0;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

    ul.lista-nav li {
        margin: 0;
        font-size: 1.2em;
        padding: 1em;
        text-align: center; 
    }

    /* El aside debajo del nav en la columna izquierda */
    aside {
        font-size: 1.3em;
        grid-column: 1;
        grid-row: 2;
    }

    /* El main en la columna derecha, ocupando toda la altura */
    main {
        grid-column: 2;
        grid-row: 1 / span 2; /* El main ocupa ambas filas en la columna derecha */
    }
    
    /* Elementos del Main */
    article.elementos {
        grid-template-columns: repeat(1, 1fr); 
    }

    .producto h1{
        margin-top: 1.5em ;
    }

    div.estrellas-favoritos
    {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-self: center;
    }

    p.estrellas, img.favoritos, p.tipo, p.precio {
        align-self: center;
        margin-top: 1.5em;
    }

    div.descripcion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 15em ;
    }

    .botones-section {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-self: center;
    }

    /* Footer div preguntas */
    div.preguntas {
        grid-template-columns: repeat(3, 1fr) ;
        font-size: 1.2em;
    }

}

